* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  height: 650px;
  width: 700px;
  background-color: antiquewhite;
  margin: 20px auto;
  padding: 10px;
}

#header {
  height: 50px;
  width: 100%;
  background-color: aqua;
  margin-bottom: 10px;
}

.main {
  height: 30%;
  width: 100%;
  background-color: red;
}

.main article {
  height: 100%;
  /* width: 33.333333%; */
  width: calc((100% - 20px) / 3);
  background-color: burlywood;
  display: inline-block;
}

#article-2,
#article-3 {
  margin-left: -4px;
}

#article-1 {
  margin-right: 10px;
}

#article-2 {
  margin-right: 10px;
}

/* Bu 
#article-1 {
  margin-right: 10px;
}

#article-2 {
  margin-right: 10px;
}

/* .main article:first-child {
  margin-right: 10px;
}

.main article:nth-child(2) {
  margin-right: 10px;
} */
